<!-- forgot password -->
<section class="my-4" *ngIf="!success">
    <form [formGroup]="forgotPasswordBox" (ngSubmit)="sendResetCode(forgotPasswordBox)">
        <div class="row my-5">
            <div class="col-md-8 m-auto">
                <div class="layer bg-light p-5 shadow">
                    <label for="email" class="fw-bolder">Email</label>
                    <input formControlName="email" type="email" class="form-control">
                    <p class="text-main my-2 ">{{SuccessEmailMsg}}</p>
                    <p class="my-2 text-danger">{{errEmailMsg}}</p>

                    <button class="btn btn-main my-2"><i class="fa-solid fa-spinner fa-spin" *ngIf="isLoading"></i> Send Code</button>
                </div>
            </div>

        </div>
    </form>
</section>

<!-- verify code -->
<section class="my-4 " *ngIf="success">
    <form [formGroup]="verifyCodeBox" (ngSubmit)="verifyResetCode(verifyCodeBox)">
        <div class="row my-5">
            <div class="col-md-8 m-auto">
                <div class="layer bg-light p-5 shadow">
                    <label class="fw-bolder">Code</label>
                    <input formControlName="resetCode" type="text" class="form-control">
                    <p class="text-main my-2">{{SuccessCodeMsg}}</p>
                    <p class="text-main my-2 text-danger">{{errCodeMsg}}</p>
                    <button class="btn btn-main my-2"><i class="fa-solid fa-spinner fa-spin" *ngIf="!isLoading"></i> Send</button>
                </div>
            </div>

        </div>
    </form>
</section>